# Role maintenance
---
- name: Create and rotate HetznerSnapshots
  when: maintenance_run_hcloud_snapshot | bool
  command: 'node {{ role_path }}/files/hcloude-snapshot.js'
  run_once: True
  become: False
  delegate_to: localhost
  register: main_snapshot_res
  tags: [maintenance, backup, db-backup, hetzner-snapshot]

- name: Post update log to GitLab
  when: ansible_play_hosts_all | last == inventory_hostname and maintenance_post_to_git | bool
  import_tasks: shared/gitlab-post-log.yml
  vars:
    gitlab_conf:
      branch: '{{ maintenance_git_branch }}'
      token: '{{ maintenance_git_token }}'
      content: '{{ main_snapshot_res.stdout_lines }}'
      email: '{{ maintenance_git_mail }}'
      name: '{{ maintenance_git_name }}'
      commit_message: 'Created Hetzner-Snapshot on {{ansible_date_time.date}}'
      url: '{{ maintenance_git_host }}/api/v4/projects/{{ maintenance_git_repo }}/repository/files/hetzner-snapshots%2F{{ ansible_date_time.date + "-" + ansible_date_time.hour + "-" + ansible_date_time.minute }}-snapshot.json'
  tags: [maintenance, backup, db-backup, hetzner-snapshot]

- name: Print Hetzner-Snapshot results
  ignore_errors: True
  run_once: True
  debug:
    msg: '{{ ["Started: " + main_snapshot_res.start | default("null") + "- End: " + main_snapshot_res.end | default("null") + " - Time: " + main_snapshot_res.delta | default("null") ] + ["stdout:"] + main_snapshot_res.stdout_lines | default([]) + ["stderr:"] + main_snapshot_res.stderr_lines | default([]) }}'
  tags: [maintenance, backup, db-backup, hetzner-snapshot]
