# Install nginx
---
- name: Add nginx GPG apt Key
  ansible.builtin.apt_key:
    url: https://nginx.org/keys/nginx_signing.key
    state: present
  tags: [ingress, nginx]

- name: Add nginx repository
  ansible.builtin.apt_repository:
    repo: deb http://nginx.org/packages/debian/ {{ ansible_facts.lsb.codename }} nginx
    update_cache: true
    state: present
    filename: nginx
  tags: [ingress, nginx]

- name: Install nginx
  ansible.builtin.apt:
    name: nginx
    state: latest
  tags: [ingress, nginx]

- name: Ensue nginx user
  user:
    name: nginx
    group: nginx
    groups: [nginx, www-data]
    ansible.builtin.shell: /bin/false
    create_home: false
    append: true
    system: true
    state: present
  tags: [ingress, nginx]

- name: Start nginx
  ansible.builtin.service:
    name: nginx
    state: started
    enabled: true
  tags: [ingress, nginx]

- name: Remove default nginx config
  ansible.builtin.file:
    name: /etc/nginx/sites-enabled/default
    state: absent
  tags: [ingress, nginx]

- name: Update Promtail config
  when: nginx_update_promtail | bool
  ansible.builtin.import_tasks: update-promtail.yml
  tags: [ingress, ingress-logs]
