

- name: Ensue config folder exists
  ansible.builtin.file:
    path: /srv/mongodb
    state: directory
  tags: [mongodb]

- name: Copy conf files
  ansible.builtin.copy:
    src: '{{ mongo_src_config_files }}/'
    dest: /srv/
    owner: root
    group: root
  tags: [mongodb]

- name: Copy mongodb compose file
  ansible.builtin.template:
    src: mongodb-docker-compose.yml.j2
    dest: /srv/mongodb/mongodb-docker-compose.yml
    mode: '0644'
  tags: [mongodb]

- name: Deploy mongodb via compose
  community.docker.docker_compose:
    project_src: /srv/mongodb
    state: present
    remove_orphans: true
    project_name: service-mongodb
    files:
      - mongodb-docker-compose.yml
  tags: [mongodb]
