notes.txt
*.retry
*.log
inventories
roles/traefik/tmp/
node_modules
conf/ingress/nginx/my-entrypoint.sh
conf/ingress/nginx/conf.d/*.conf
!conf/ingress/nginx/conf.d/internal-status.conf
tests/
ingress-generator/nginx/etcDummyHosts
