notes.txt
*.retry
*.log
inventories
roles/traefik/tmp/
node_modules
conf/ingress/nginx/my-entrypoint.sh
conf/ingress/nginx/conf.d/*.conf
!conf/ingress/nginx/conf.d/internal-status.conf
tests/
ingress-generator/nginx/etcDummyHosts
ingress-generator/domain.list
tools/terraform/hetzner/.*.lock.hcl
tools/terraform/hetzner/*.tfstate.backup
tools/terraform/hetzner/*.backup
tools/terraform/hetzner/.terraform/providers
kryptex.py
tools/terraform/hetzner/terraform.tfstate
tools/terraform/hetzner/vars.tfvars
pb_test.yml
roles/k8s/common/files/ssh/ssh_host_*
