[Service]
Environment="KUBELET_EXTRA_ARGS=--cgroup-driver=systemd --max-pods 220 {{ "--node-ip " + ansible_facts.all_ipv4_addresses | ansible.utils.reduce_on_network(k8s_cloud_subnet) | first if(k8s_cloud_subnet | default("none") != "none") }} {{ k8s_kublet_extra_args }}"
