[Service]
Environment="KUBELET_EXTRA_ARGS=--cgroup-driver=systemd --node-ip={{ k8s_kubelet_advertise_address_bind | default(ansible_facts.default_ipv4.address) }} --max-pods 220 {{ k8s_kublet_extra_args }}"
