# Copyright 2018-2022 Docker Inc.

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at

# http://www.apache.org/licenses/LICENSE-2.0

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Run wasm
# sudo ctr i pull docker.io/wasmedge/example-wasi:latest
# ctr run --rm --runc-binary crun --runtime io.containerd.runc.v2 --label module.wasm.image/variant=compat-smart docker.io/wasmedge/example-wasi:latest wasm-example

# Other container image snapshotter:
# https://github.com/containerd/stargz-snapshotter/blob/main/docs/INSTALL.md

# K8s config settings for systemd (runc and crun)
version = 2
[plugins]

  # Common
  [plugins."io.containerd.grpc.v1.cri".containerd]
    default_runtime_name = "{{ k8s_cri }}"
  [plugins."io.containerd.runtime.v1.linux"]
    runtime = "{{ k8s_cri }}"

  # runc
  [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc]
    runtime_type = "io.containerd.runc.v2"
    [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc.options]
      SystemdCgroup = true

  # crun
  [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.crun]
    runtime_type = "io.containerd.runc.v2"
    # See: https://github.com/containers/crun/blob/main/docs/wasm-wasi-on-kubernetes.md
    pod_annotations = ["*.wasm.*", "wasm.*", "module.wasm.image/*", "*.module.wasm.image", "module.wasm.image/variant.*"]
  [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.crun.options]
    BinaryName = "/usr/local/bin/crun"
    SystemdCgroup = true

  # gVisor
  # Docs: https://gvisor.dev/docs/user_guide/containerd/configuration/
  [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runsc]
    runtime_type = "io.containerd.runsc.v1"
  [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runsc.options]
    TypeUrl = "io.containerd.runsc.v1.options"
    ConfigPath = "/etc/containerd/runsc.toml"

  # youki
  [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.youki]
    runtime_type = "io.containerd.runc.v2"
  [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.youki.options]
    BinaryName = "/usr/local/bin/youki"
    SystemdCgroup = true

  # wasmedge
  # Docs: https://github.com/containerd/runwasi
  [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.wasmedge]
  runtime_type = "io.containerd.wasmedge.v1"

  # wasmtime
  # Docs: https://github.com/containerd/runwasi
  [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.wasmtime]
  runtime_type = "io.containerd.wasmtime.v1"

  # wasmer
  # Docs: https://github.com/containerd/runwasi
  [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.wasmer]
  runtime_type = "io.containerd.wasmer.v1"

  # Registry
  [plugins."io.containerd.grpc.v1.cri".registry]
    config_path = "/etc/containerd/certs.d"

#root = "/var/lib/containerd"
#state = "/run/containerd"
#subreaper = true
#oom_score = 0

#[grpc]
#  address = "/run/containerd/containerd.sock"
#  uid = 0
#  gid = 0

#[debug]
#  address = "/run/containerd/debug.sock"
#  uid = 0
#  gid = 0
#  level = "info"
