apiVersion: kubelet.config.k8s.io/v1
kind: CredentialProviderConfig
providers:
  # Static credential provider: https://github.com/hegerdes/kubelet-static-credential-provider
  - name: static-credential-provider
    # args:[--example-argument]
    matchImages: [docker.io]
    defaultCacheDuration: "12h"
    apiVersion: credentialprovider.kubelet.k8s.io/v1
    env:
      - name: SCP_REGISTRY_USERNAME
        value: {{ k8s_credential_provider_registry_username }}
      - name: SCP_REGISTRY_PASSWORD
        value: {{ k8s_credential_provider_registry_password }}
  # AWS ECR credential provider: https://github.com/kubernetes/cloud-provider-aws
  - name: ecr-credential-provider
    matchImages: [602401143452.dkr.ecr.*.amazonaws.com]
    defaultCacheDuration: "12h"
    apiVersion: credentialprovider.kubelet.k8s.io/v1
