apiVersion: kubelet.config.k8s.io/v1
kind: CredentialProviderConfig
providers:
  - name: static-credential-provider
    # args:[--example-argument]
    matchImages: [docker.io]
    defaultCacheDuration: "12h"
    apiVersion: credentialprovider.kubelet.k8s.io/v1
    env:
      - name: SCP_REGISTRY_USERNAME
        value: {{ k8s_credential_provider_registry_username }}
      - name: SCP_REGISTRY_PASSWORD
        value: {{ k8s_credential_provider_registry_password }}
