# K8s install helm

- name: Adding apt GPG Keys
  ansible.builtin.apt_key:
    url: https://baltocdn.com/helm/signing.asc
    state: present
  tags: [k8s, k8s-init, k8s-helm]

- name: Add Helm repository
  ansible.builtin.apt_repository:
    repo: deb https://baltocdn.com/helm/stable/debian/ all main
    update_cache: true
    state: present
    filename: helm.list
  tags: [k8s, k8s-init, k8s-helm]

- name: Install Helm package
  ansible.builtin.apt:
    name: helm
    state: present
    update_cache: true
    install_recommends: false
  ignore_errors: '{{ ansible_check_mode }}'
  tags: [k8s, k8s-init, k8s-helm]

- name: Install Helm Diff
  kubernetes.core.helm_plugin:
    plugin_path: https://github.com/databus23/helm-diff
    state: present
  tags: [k8s, k8s-init, k8s-helm]
