---
# Nginx settings
ingress_hosts_file: null
ingress_hosts: '{{lookup("file", ingress_hosts_file) | from_yaml if(ingress_hosts_file) }}'

nginx_version: 1.20-alpine
nginx_src_config_dir: nginx/
nginx_metrics_server_addr: '{{ ansible_default_ipv4.address }}:80'

# Nginx host & Certbot setting
nginx_install_hosts: yes
nginx_force_reinstall_hosts: no
nginx_hosts_default_listen_addr: '{{ ansible_default_ipv4.address }}'
nginx_run_certbot: yes
nginx_certbot_mail: info@xyz.com
nginx_testing_certbot: no # if yes use letsencrypt staging (no rate limit)

# Nginx default hosts cofig
nginx_default_hosts:
  conf:
    nginx:
      common_header: |
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-For $remote_addr;
  sites:
    - host: default.example.123preview.com
      ip: '{{ ansible_default_ipv4.address }}'
      upstreams: [127.0.0.1:3000]
    - host: custom.example.123preview.com
      ip: '{{ ansible_default_ipv4.address }}'
      upstreams: [127.0.0.1:3000]
      nginx:
        locations:
          - route: /
            body: |
              proxy_pass http://custom.devops-testing.123preview.com_default;
          - route: /test
            body: |
              return 404;

# Floating IPs
ingress_floating_ips: []
nginx_firewall_rules: []

# Update promtail
nginx_update_promtail: yes
promtail_config_src_path: promtail-config.yml
promtail_config_dst_path: /srv/promtail/promtail-config.yml

# For cert renew
nginx_cron_jobs:
  - name: Certbot renew
    job: echo "certbot renew" >> /var/log/cron.log && certbot renew --post-hook "nginx -t && nginx -s reload" >> /var/log/cron.log
    weekday: '2'
    month: '*'
    minute: '30'
    hour: '02'
    day: '*'
    state: present
    user: null

nginx_default_firewall_rules:
  - name: Setup public net
    zone: public
    interface: eth0
  - name: https
    service: https
    zone: public
  - name: http
    service: http
    zone: public
  - name: Setup internal net
    zone: internal
    interface: ens10
    sourceips: 10.10.0.0/24
  - name: node-exporter
    zone: internal
    port: 9100/tcp
  - name: http-internal
    zone: internal
    port: 80/tcp
  - name: https-internal
    zone: internal
    port: 443/tcp
