apiVersion: kubeadm.k8s.io/v1beta4
kind: JoinConfiguration
discovery:
  tlsBootstrapToken: {{ k8_worker_join_token | default(__k8_worker_join_token_res.stdout )}}
  bootstrapToken:
    apiServerEndpoint: {{ k8s_shared_api_server_endpoint if(":" in k8s_shared_api_server_endpoint) else k8s_shared_api_server_endpoint + ":" + k8s_kubelet_advertise_port | default("6443") }}
    token: {{ k8_worker_join_token | default(__k8_worker_join_token_res.stdout )}}
    caCertHashes: {{ [] + k8s_ca_cert_hashes | default([]) + ["sha256:" + __k8s_pki_ca["public_key_fingerprints"]["sha256"] | replace(":","")] | flatten }}
nodeRegistration:
  imagePullSerial: false
  kubeletExtraArgs:
    - name: node-ip
      value: {{ k8s_node_ip }}
    {{ k8s_kubelet_extra_args | to_nice_yaml(indent=2) | indent(width=4) }}
  ignorePreflightErrors:
    - NumCPU
  taints: {{ k8s_taints | to_nice_yaml(indent=2) | indent(width=4) }}
timeouts:
  kubeletHealthCheck: 2m
  discovery: 2m
patches:
  directory: {{ target_data_dir | default('') }}/srv/patches
