# Main netlify-dns
---
- name: Get netlify DNS records
  run_once: true
  uri:
    url: 'https://api.netlify.com/api/v1/dns_zones/{{ netlify_dns_zone_id }}/dns_records'
    return_content: yes
    headers:
      Authorization: 'Bearer {{ netlify_api_token }}'
  register: netlify_fetched_dns_records
  tags: [netflify, netflify-dns]

- name: Record needs change
  run_once: true
  debug:
    msg: '{{ (netlify_fetched_dns_records.json | json_query("[?hostname==`" + item.host + "`]") | length == 1) and (netlify_fetched_dns_records.json | json_query("[?hostname==`" + item.host + "`]") | first).value != item.value }}'
  tags: [netflify, netflify-dns]
  loop: '{{ netlify_dns_records }}'

- name: Deleting outdated records
  run_once: true
  when: (netlify_fetched_dns_records.json | json_query("[?hostname==`" + item.host + "`]") | length == 1) and (netlify_fetched_dns_records.json | json_query("[?hostname==`" + item.host + "`]") | first).value != item.value
  uri:
    method: DELETE
    url: 'https://api.netlify.com/api/v1/dns_zones/{{ netlify_dns_zone_id }}/dns_records/{{ (netlify_fetched_dns_records.json | json_query("[?hostname==`" + item.host + "`]") | first).id }}'
    status_code: 204
    headers:
      Authorization: 'Bearer {{ netlify_api_token }}'
  changed_when: true
  tags: [netflify, netflify-dns]
  loop: '{{ netlify_dns_records }}'

- name: Update netlify DNS records
  run_once: true
  uri:
    url: 'https://api.netlify.com/api/v1/dns_zones/{{ netlify_dns_zone_id }}/dns_records'
    return_content: yes
    headers:
      Authorization: 'Bearer {{ netlify_api_token }}'
  register: netlify_fetched_dns_records
  tags: [netflify, netflify-dns]

- name: Creating new Records
  run_once: true
  when: netlify_fetched_dns_records.json | json_query("[?hostname==`" + item.host + "`]") | length == 0
  uri:
    method: POST
    url: 'https://api.netlify.com/api/v1/dns_zones/{{ netlify_dns_zone_id }}/dns_records'
    return_content: yes
    body_format: json
    body:
      type: '{{ item.type | default("A") }}'
      hostname: '{{ item.host }}'
      value: '{{ item.value }}'
      ttl: '{{ item.ttl | default(3600) }}'
    status_code: 201
    headers:
      Authorization: 'Bearer {{ netlify_api_token }}'
  changed_when: true
  tags: [netflify, netflify-dns]
  loop: '{{ netlify_dns_records }}'
