# kubeadm config
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration

nodeRegistration:
  kubeletExtraArgs:
    config: /var/lib/kubelet/config.yaml
    address: {{ k8s_node_ip_v4 }}
    config-dir: /etc/kubernetes/kubelet.conf.d
    node-ip: {{ k8s_node_ip_v4 }}{{ "," + k8s_node_ip_v6 | default(ansible_facts.default_ipv6.address) if(k8s_dual_stack) }}
    {{ k8s_kubelet_extra_args | default({}) | to_nice_yaml(indent=2) | indent(width=4) }}
  ignorePreflightErrors:
    - NumCPU
  taints: []
localAPIEndpoint:
  advertiseAddress: {{ k8s_node_ip_v4 }}
  bindPort: {{ k8s_kubelet_advertise_port | default(6443) | int }}
skipPhases:
  {{ k8s_kubeadm_skip_phases | to_nice_yaml(indent=2) | indent(width=2) }}
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration

kubernetesVersion: {{ k8s_version }}
clusterName: {{ k8s_cluster_name }}
imageRepository: {{ k8s_image_repo }}
certificatesDir: {{ k8s_pki_cert_path }}
controlPlaneEndpoint: {{ k8s_shared_api_server_endpoint }}

networking:
  serviceSubnet: {{ k8s_service_network_cidr }}
  podSubnet: {{ k8s_pod_network_cidr }}
  dnsDomain: "cluster.local"
apiServer:
  timeoutForControlPlane: 4m0s
  extraArgs:
    profiling: "false"
    audit-log-path: "-"
    encryption-provider-config: /etc/kubernetes/enc/encryption-config.yaml
    encryption-provider-config-automatic-reload: "true"
    enable-admission-plugins: NodeRestriction
    {{ k8s_controlplane_extra_args | to_nice_yaml(indent=2) | indent(width=4) }}
    # anonymous-auth: "false"
  certSANs: {{ k8s_cert_extra_sans + [k8s_shared_api_server_endpoint] | flatten | unique }}
  extraVolumes:
    - name: etcd-encrypt
      hostPath: /etc/kubernetes/enc
      mountPath: /etc/kubernetes/enc
      readOnly: true
      pathType: DirectoryOrCreate
controllerManager:
  extraArgs:
    profiling: "false"
scheduler:
  extraArgs:
    profiling: "false"
