# kubeadm config
apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
nodeRegistration:
  imagePullSerial: false
  kubeletExtraArgs:
    - name: node-ip
      value: {{ k8s_node_ip }}
    {{ k8s_kubelet_extra_args | to_nice_yaml(indent=2) | indent(width=4) }}
  ignorePreflightErrors:
    - NumCPU
  taints: {{ k8s_taints | to_nice_yaml(indent=2) | indent(width=4) }}
localAPIEndpoint:
  advertiseAddress: {{ k8s_advertise_address }}
  bindPort: {{ k8s_kubelet_advertise_port | default(6443) | int }}
timeouts:
  kubeletHealthCheck: 2m
  controlPlaneComponentHealthCheck: 4m
skipPhases:
  {{ k8s_kubeadm_skip_phases | to_nice_yaml(indent=2) | indent(width=2) }}
patches:
  directory: {{ target_data_dir | default('') }}/srv/patches
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration

kubernetesVersion: {{ k8s_version }}
clusterName: {{ k8s_cluster_name }}
imageRepository: {{ k8s_image_repo }}
certificatesDir: {{ k8s_pki_cert_path }}
controlPlaneEndpoint: {{ k8s_shared_api_server_endpoint }}


networking:
  serviceSubnet: {{ k8s_service_network_cidr }}
  podSubnet: {{ k8s_pod_network_cidr }}
  dnsDomain: "cluster.local"

apiServer:
  extraEnvs:
    {{ k8s_controlplane_extra_envs | to_nice_yaml(indent=2) | indent(width=4) }}
  extraArgs:
    - name: profiling
      value: "false"
    - name: audit-log-path
      value: /var/log/kube-apiserver/audit.log
    - name: audit-log-maxage
      value: "30" # days to retain
    - name: audit-log-maxbackup
      value: "10" # rotated files to keep
    - name: audit-log-maxsize
      value: "100" # megabytes per file
    - name: audit-policy-file
      value: /etc/kubernetes/extras/audit-policy.yaml
    - name: encryption-provider-config
      value: /etc/kubernetes/extras/encryption-config.yaml
    - name: encryption-provider-config-automatic-reload
      value: "true"
{% if k8s_feature_gates | length > 0 %}
    - name: feature-gates
      value: {{ k8s_feature_gates_args_string }}
{% endif %}
{% if k8s_admission_extra_plugins | length > 0 %}
    - name: enable-admission-plugins
      value: {{ k8s_admission_extra_plugins | join(',') }}
    - name: admission-control-config-file
      value: /etc/kubernetes/extras/admission-control-config.yaml
{% endif %}
{% if k8s_controlplane_extra_args | length > 0 %}
    {{ k8s_controlplane_extra_args | to_nice_yaml(indent=2) | indent(width=4) }}
{% endif %}
    # - name anonymous-auth
    #   value: "false"
  certSANs: {{ k8s_cert_extra_sans + [k8s_shared_api_server_endpoint] | flatten | unique }}
  extraVolumes:
    - name: extra-conf
      hostPath: /etc/kubernetes/extras
      mountPath: /etc/kubernetes/extras
      readOnly: true
      pathType: DirectoryOrCreate
    - name: audit-log
      hostPath: /var/log/kube-apiserver/
      mountPath: /var/log/kube-apiserver/
      pathType: DirectoryOrCreate

controllerManager:
  extraArgs:
    - name: profiling
      value: "false"
{% if k8s_dual_stack %}
    - name: node-cidr-mask-size-ipv4
      value: "{{ k8s_node_cidr_mask_size_ipv4 }}"
    - name: node-cidr-mask-size-ipv6
      value: "{{ k8s_node_cidr_mask_size_ipv6 }}"
{% else %}
{% if k8s_pod_network_cidr is ansible.utils.ipv4 %}
    - name: node-cidr-mask-size-ipv4
      value: "{{ k8s_node_cidr_mask_size_ipv4 }}"
{% endif %}
{% if k8s_pod_network_cidr is ansible.utils.ipv6 %}
    - name: node-cidr-mask-size-ipv6
      value: "{{ k8s_node_cidr_mask_size_ipv6 }}"
{% endif %}
{% endif %}
{% if k8s_controller_extra_args | length > 0 %}
    {{ k8s_controller_extra_args | to_nice_yaml(indent=2) | indent(width=4) }}
{% endif %}

scheduler:
  extraArgs:
    - name: profiling
      value: "false"

proxy:
  disabled: {{ not (k8s_install_kube_proxy | default(true)) }}

dns:
  disabled: {{ not (k8s_install_core_dns | default(true)) }}
---
{{ k8s_kubelet_conf }}
