version: '3.7'

services:
  nginx:
    image: nginx:{{ nginx_version | default("latest") }}
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "/etc/letsencrypt:/etc/letsencrypt"
      - "/etc/nginx:/etc/nginx"
    networks:
      - ingress_net

networks:
  ingress_net:
    external: true
