upstream target_server {
    server {{ nginx_hosts_upstream_target }};
}

server {
    listen                  {{ nginx_hosts_listen_addr }}:443 ssl http2;
    listen                  [::]:443 ssl http2;
    server_name             {{ nginx_domains_string }};

    # security
    include                 shared.conf/security.conf;

    # reverse proxy
    location / {
        proxy_pass http://target_server;
        include    shared.conf/proxy.conf;
    }
}


# HTTP redirect
server {
    listen      {{ nginx_hosts_listen_addr }}:80;
    listen      [::]:80;
    server_name {{ nginx_domains_string }};

    # ACME-challenge
    location ^~ /.well-known/acme-challenge/ {
        root /var/www/_letsencrypt;
    }

    location / {
        return 301 https://example.com$request_uri;
    }
}