version: '3.7'

services:
  health-pulse:
    image: git.cci-net.de:5050/mycci/dm/symbic-servicemonitor:master
    environment:
      - TZ=Europe/Berlin
    env_file: health-pulse/.env
    volumes:
      - /srv/health-pulse:/app/config
      - health-pulse-data:/app/data

volumes:
  health-pulse-data: