version: '3.7'

services:
  chronograf:
    image: chronograf:{{ mgmt_chronograf_version }}
    environment:
      - TZ=Europe/Berlin
    networks:
      - mgmt_net
    ports:
      - {{ mgmt_chronograf_port }}:8888
    volumes:
      - chronograf-data:/var/lib/chronograf
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.chronograf.rule=Host(`chronograf.localhost`)"
      - "traefik.http.routers.chronograf.entrypoints=web"
      - "traefik.http.services.chronograf.loadbalancer.server.port=80"

volumes:
  chronograf-data:

networks:
  monitor-stack_mgmt_net:
    external: true
