version: '3.7'

services:
  sql-exporter:
    image: prom/mysqld-exporter:latest
    hostname: {{ inventory_dir | basename }}-sql-exporter
    environment:
      - TZ=Europe/Berlin
      - DATA_SOURCE_NAME={{ mgmt_sql_exporter_connection_string }}/
    networks:
      - {{ mgmt_docker_stack_name }}_mgmt_net
    deploy:
      placement:
        constraints:
          - "node.labels.mgmt==true"

networks:
  {{ mgmt_docker_stack_name }}_mgmt_net:
    external: true
