version: '3.7'

services:
  symbic-status-monitor:
    image: {{ mgmt_status_monitor_image | default("gitlab-registry.***REMOVED***/servermgmt-tools/symbic-status-monitor:main") }}
    hostname: {{ inventory_dir | basename }}-symbic-health-pulse
    environment:
      - TZ=Europe/Berlin
    env_file: {{ mgmt_dst_config_files }}health-pulse/.env
    volumes:
      - {{ mgmt_dst_config_files }}health-pulse:/app/config
      - status-monitor-data:/app/data

volumes:
  status-monitor-data:
