version: '3.7'

services:
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    networks:
      - {{ mgmt_docker_stack_name }}_mgmt_net
    volumes:
    - /:/rootfs:ro
    - /var/run:/var/run:ro
    - /sys:/sys:ro
    - /var/lib/docker/:/var/lib/docker:ro
    - /dev/disk/:/dev/disk:ro
    deploy:
      mode: global
      placement:
        constraints: [node.platform.os == linux]

networks:
  {{ mgmt_docker_stack_name }}_mgmt_net:
    external: true
