version: '3.7'

services:
  heimdall:
    image: lscr.io/linuxserver/heimdall:latest
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    volumes:
      - heimdall-data:/config
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      # - target: 443
      #   published: 443
      #   protocol: tcp
      #   mode: host

volumes:
  heimdall-data: