version: '3.7'

services:
  mongo-express:
    image: mongo-express:latest
    hostname: {{ inventory_dir | basename }}-mongo-express
    environment:
      - TZ=Europe/Berlin
      - ME_CONFIG_MONGODB_SERVER={{ mgmt_mongodb_target_host }}
      - ME_CONFIG_MONGODB_AUTH_USERNAME={{ mongodb_root_user | default("root") }}
      - ME_CONFIG_BASICAUTH_USERNAME={{ mongodb_root_user | default("root") }}
      - ME_CONFIG_MONGODB_AUTH_PASSWORD={{ mongodb_root_pw }}
      - ME_CONFIG_BASICAUTH_PASSWORD={{ mongodb_root_pw }}
    networks:
      - {{ mgmt_docker_stack_name }}_mgmt_net
    ports:
      - target: 8081
        published: 8081
        protocol: tcp
        mode: host
    deploy:
      placement:
        constraints:
          - "node.labels.mgmt==true"
      labels:
        - "{{ mgmt_docker_stack_name }}=true"
        {{ mgmt_traefik_labels | replace("__SERVICE__", "mongo-express") | replace("__PORT__", "8081") | indent(width=8) if(mgmt_use_swarm_mode) }}
    labels:
      - "{{ mgmt_docker_stack_name }}=true"
      {{ mgmt_traefik_labels | replace("__SERVICE__", "mongo-express") | replace("__PORT__", "8081") | indent(width=6) if(not mgmt_use_swarm_mode) }}
networks:
  {{ mgmt_docker_stack_name }}_mgmt_net:
    external: true
