version: '3.7'

services:
  mongodb-exporter:
    image: percona/mongodb_exporter:0.33
    hostname: {{ inventory_dir | basename }}-mongodb-exporter
    command: --log.level="info" --discovering-mode --web.listen-address=":9216" --mongodb.uri=mongodb://{{ mgmt_mongodb_exporter_uri }}
    environment:
      - TZ=Europe/Berlin
    networks:
      - {{ mgmt_docker_stack_name }}_mgmt_net


networks:
  {{ mgmt_docker_stack_name }}_mgmt_net:
    external: true
