version: '3.7'

services:
  phpmyadmin:
    image: phpmyadmin:latest
    environment:
      - {{ mgmt_sql_taget_host_template }}
      - TZ=Europe/Berlin
      - UPLOAD_LIMIT=2G
    networks:
      - {{ mgmt_docker_stack_name }}_mgmt_net
    ports:
      - target: 80
        published: 8082
        protocol: tcp
        mode: host
    deploy:
      labels:
        - "{{ mgmt_docker_stack_name }}=true"
        {{ mgmt_traefik_labels | replace("__SERVICE__", "phpmyadmin") | replace("__PORT__", "80") | indent(width=8) if(mgmt_use_swarm_mode) }}
    labels:
      - "{{ mgmt_docker_stack_name }}=true"
      {{ mgmt_traefik_labels | replace("__SERVICE__", "phpmyadmin") | replace("__PORT__", "80") | indent(width=6) if(not mgmt_use_swarm_mode) }}

networks:
  {{ mgmt_docker_stack_name }}_mgmt_net:
    external: true
