version: '3.7'

services:

  {% for exporter in mgmt_waf_exporter | default([]) -%}
  nginx-prometheus-exporter-{{ exporter.name | lower }}:
    image: nginx/nginx-prometheus-exporter:latest
    command: -nginx.scrape-uri=http://{{ exporter.target }}/nginx_status
    hostname: {{ inventory_dir | basename }}-nginx-prometheus-exporter-{{ exporter.name | lower }}
    deploy:
      placement:
        constraints:
          - "node.labels.mgmt==true"
    networks:
      - {{ mgmt_docker_stack_name }}_mgmt_net
  {% endfor %}

networks:
  {{ mgmt_docker_stack_name }}_mgmt_net:
    external: true
