version: '3.7'

services:
  health-pulse:
    image: git.cci-net.de:5050/mycci/dm/symbic-servicemonitor:main
    environment:
      - TZ=Europe/Berlin
    env_file: {{ mgmt_dst_config_files }}health-pulse/.env
    volumes:
      - {{ mgmt_dst_config_files }}health-pulse:/app/config
      - health-pulse-data:/app/data

volumes:
  health-pulse-data:
