version: '3.7'

services:
  traefik:
    image: traefik:{{ mgmt_traefik_version | default("latest") }}
    command:
      - "--accesslog"
      - "--log.level=DEBUG"
      - "--api.insecure=true"
      - "--api.dashboard=true"
      - "--metrics.prometheus"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--metrics.prometheus.addEntryPointsLabels=true"
      - "--providers.docker.network={{ mgmt_docker_stack_name }}_mgmt_net"
      - "--entrypoints.web.address=:80"
      {{ mgmt_traefik_tls_flags | indent(width=6) if(mgmt_proxy_use_tls) }}
      {{'- "--providers.docker.swarmMode=true"' | indent(width=6) if(mgmt_use_swarm_mode) }}
    ports:
      - "80:80"
      - "443:443"
    networks:
      - {{ mgmt_docker_stack_name }}_mgmt_net
    volumes:
      - "traefik_certs:/letsencrypt"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    deploy:
      placement:
        constraints:
          - "node.role==manager"
      labels:
        - "{{ mgmt_docker_stack_name }}=true"
        {{ mgmt_traefik_labels | replace("__SERVICE__", "traefik") | replace("__PORT__", "8080") | indent(width=8) if(mgmt_use_swarm_mode) }}
        {{ mgmt_traefik_auth_labels.traefik | default("") | indent(width=8) if(mgmt_use_swarm_mode) }}
    labels:
      - "{{ mgmt_docker_stack_name }}=true"
      {{ mgmt_traefik_labels | replace("__SERVICE__", "traefik") | replace("__PORT__", "8080") | indent(width=6) if(not mgmt_use_swarm_mode) }}
      {{ mgmt_traefik_auth_labels.traefik | default("") | indent(width=6) if(not mgmt_use_swarm_mode) }}


volumes:
  traefik_certs:

networks:
  {{ mgmt_docker_stack_name }}_mgmt_net:
    external: true
