version: '3.7'

services:
  loki:
    image: grafana/loki:latest
    environment:
      - TZ=Europe/Berlin
    networks:
      - mgmt_net
    ports:
      - target: 3100
        published: 3100
        protocol: tcp
        mode: host
    volumes:
      - loki-data:/loki
    configs:
      - source: loki-conf-{{ mgmt_conf_counter | default(ansible_date_time.date) }}
        target: /mnt/config/loki-config.yml

  grafana:
    image: grafana/grafana:latest
    environment:
      - TZ=Europe/Berlin
      - GF_SECURITY_ADMIN_PASSWORD__FILE=/run/secrets/grafana_admin_password
      - GF_INSTALL_PLUGINS=grafana-clock-panel,grafana-simple-json-datasource,grafana-piechart-panel,alexanderzobnin-zabbix-app,grafana-worldmap-panel
    networks:
      - mgmt_net
    ports:
      - target: 3000
        published: 3000
        protocol: tcp
        mode: host
    volumes:
      - grafana-data:/var/lib/grafana
    secrets:
      - grafana_admin_password

  nginx-prometheus-exporter:
    image: nginx/nginx-prometheus-exporter:latest
    command: -nginx.scrape-uri=http://{{ mgmt_waf_target_host }}/nginx_status
    networks:
      - mgmt_net

  prometheus:
    image: bitnami/prometheus:latest
    command: --storage.tsdb.retention.time 30d --config.file=/etc/prometheus/prometheus.yml
    environment:
      - TZ=Europe/Berlin
    networks:
      - mgmt_net
    ports:
      - target: 9090
        published: 9090
        protocol: tcp
        mode: host
    volumes:
      - prometheus-data:/opt/bitnami/prometheus/data
    configs:
      - source: prometheus-conf-{{ mgmt_conf_counter | default(ansible_date_time.date) }}
        target: /etc/prometheus/prometheus.yml

  portainer:
    image: portainer/portainer-ce:latest
    environment:
      - TZ=Europe/Berlin
    networks:
      - mgmt_net
    ports:
      - "8000:8000"
      - "9000:9000"
      - "9443:9443"
    volumes:
      - portainer-data:/data
    deploy:
      placement:
        constraints: [node.role == manager]

configs:
  loki-conf-{{ mgmt_conf_counter | default(ansible_date_time.date) }}:
    file: /srv/mgmt-loki/loki-config.yml
  prometheus-conf-{{ mgmt_conf_counter | default(ansible_date_time.date) }}:
    file: /srv/mgmt-prometheus/prometheus.yml

secrets:
  grafana_admin_password:
    file: /srv/mgmt-grafana/grafana_admin_pw.txt

volumes:
  loki-data:
  grafana-data:
  prometheus-data:
  portainer-data:
  promtail-data:

networks:
  mgmt_net:
    driver: overlay
    attachable: true
    driver_opts:
      com.docker.network.driver.mtu: 1450
      # Workaround for Hetzner and GCE networks
      # See: https://github.com/portainer/portainer/issues/4962