version: '3.7'

services:
# ToDo: Make portainer sock configurable
# Same for labels treafik
  portainer:
    image: portainer/portainer-{{ mgmt_portainer_edition }}:latest
    environment:
      - TZ=Europe/Berlin
    networks:
      - {{ mgmt_docker_stack_name }}_mgmt_net
    ports:
      - "8000:8000"
      - "9000:9000"
      - "9443:9443"
    volumes:
      - portainer-data:/data
      {{ mgmt_portainer_agentless_opts | trim | indent(width=6) if (mgmt_portainer_included_agent) }}
    deploy:
      placement:
        constraints: [node.role == manager]
      labels:
        - "{{ mgmt_docker_stack_name }}=true"
        {{ mgmt_traefik_labels | replace("__SERVICE__", "portainer") | replace("__PORT__", "9000") | trim | indent(width=8) if(mgmt_use_swarm_mode) }}
        {{ mgmt_traefik_auth_labels.portainer | default("") | trim | indent(width=8) if(mgmt_use_swarm_mode) }}
    labels:
      - "{{ mgmt_docker_stack_name }}=true"
      {{ mgmt_traefik_labels | replace("__SERVICE__", "portainer") | replace("__PORT__", "9000") | trim | indent(width=6) if(not mgmt_use_swarm_mode) }}
      {{ mgmt_traefik_auth_labels.portainer | default("") | trim | indent(width=6) if(not mgmt_use_swarm_mode) }}

  prometheus:
    image: bitnami/prometheus:latest
    command: --storage.tsdb.retention.time 30d --config.file=/etc/prometheus/prometheus.yml
    environment:
      - TZ=Europe/Berlin
    networks:
      - {{ mgmt_docker_stack_name }}_mgmt_net
    volumes:
      - prometheus-data:/opt/bitnami/prometheus/data
      {{"- " + mgmt_dst_config_files + "mgmt-prometheus/prometheus.yml:/etc/prometheus/prometheus.yml" | indent(width=6) if(not mgmt_use_swarm_mode) }}
    configs:
      - source: prometheus-conf-{{ mgmt_conf_counter | default(ansible_date_time.date) }}
        target: /etc/prometheus/prometheus.yml
    deploy:
      labels:
        - "{{ mgmt_docker_stack_name }}=true"
        {{ mgmt_traefik_labels | replace("__SERVICE__", "prometheus") | replace("__PORT__", "9090") | trim | indent(width=8) if(mgmt_use_swarm_mode) }}
        {{ mgmt_traefik_auth_labels.prometheus | default("") | trim | indent(width=8) if(mgmt_use_swarm_mode) }}
    labels:
      - "{{ mgmt_docker_stack_name }}=true"
      {{ mgmt_traefik_labels | replace("__SERVICE__", "prometheus") | replace("__PORT__", "9090") | trim | indent(width=6) if(not mgmt_use_swarm_mode) }}
      {{ mgmt_traefik_auth_labels.prometheus | default("") | trim | indent(width=6) if(not mgmt_use_swarm_mode) }}

  grafana:
    image: grafana/grafana:latest
    environment:
      - TZ=Europe/Berlin
      - GF_SECURITY_ADMIN_PASSWORD__FILE=/run/secrets/grafana_admin_password
      - GF_INSTALL_PLUGINS=grafana-clock-panel,grafana-simple-json-datasource,grafana-piechart-panel,alexanderzobnin-zabbix-app,grafana-worldmap-panel
    networks:
      - {{ mgmt_docker_stack_name }}_mgmt_net
    ports:
      - target: 3000
        published: 3000
        protocol: tcp
        mode: host
    volumes:
      - grafana-data:/var/lib/grafana
    secrets:
      - grafana_admin_password
    deploy:
      labels:
        - "{{ mgmt_docker_stack_name }}=true"
        {{ mgmt_traefik_labels | replace("__SERVICE__", "grafana") | replace("__PORT__", "3000") | trim | indent(width=8) if(mgmt_use_swarm_mode) }}
        {{ mgmt_traefik_auth_labels.grafana | default("") | trim | indent(width=8) if(mgmt_use_swarm_mode) }}
    labels:
      - "{{ mgmt_docker_stack_name }}=true"
      {{ mgmt_traefik_labels | replace("__SERVICE__", "grafana") | replace("__PORT__", "3000") | trim | indent(width=6) if(not mgmt_use_swarm_mode) }}
      {{ mgmt_traefik_auth_labels.grafana | default("") | trim | indent(width=6) if(not mgmt_use_swarm_mode) }}
  loki:
    image: grafana/loki:latest
    environment:
      - TZ=Europe/Berlin
    networks:
      - {{ mgmt_docker_stack_name }}_mgmt_net
    ports:
      - target: 3100
        published: 3100
        protocol: tcp
        mode: host
    volumes:
      - loki-data:/loki
    configs:
      - source: loki-conf-{{ mgmt_conf_counter | default(ansible_date_time.date) }}
        target: /mnt/config/loki-config.yml

configs:
  loki-conf-{{ mgmt_conf_counter | default(ansible_date_time.date) }}:
    file: /srv/mgmt-loki/loki-config.yml
  prometheus-conf-{{ mgmt_conf_counter | default(ansible_date_time.date) }}:
    file: /srv/mgmt-prometheus/prometheus.yml

secrets:
  grafana_admin_password:
    file: /srv/mgmt-grafana/grafana_admin_pw.txt

volumes:
  loki-data:
  grafana-data:
  prometheus-data:
  portainer-data:

networks:
  {{ mgmt_docker_stack_name }}_mgmt_net:
    external: true
# INFO: None templated
#  mgmt_net:
#    driver: overlay
#    attachable: true
#    driver_opts:
#      com.docker.network.driver.mtu: 1450
#      # Workaround for Hetzner and GCE networks
#      # See: https://github.com/portainer/portainer/issues/4962
