version: '3.7'

services:
  heimdall:
    image: lscr.io/linuxserver/heimdall:latest
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    volumes:
      - heimdall-data:/config
    networks:
      - mgmt_net
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.heimdall.rule=Host(`localhost`)"
      - "traefik.http.routers.heimdall.entrypoints=web"
      - "traefik.http.services.heimdall.loadbalancer.server.port=80"

volumes:
  heimdall-data:

networks:
  monitor-stack_mgmt_net:
    external: true
