version: '3.7'

services:
  wireguard:
    image: linuxserver/wireguard:latest
    hostname: {{ inventory_dir | basename }}-wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    networks:
      - wireguard-net
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
      - ALLOWEDIPS=0.0.0.0/0
      - SERVERPORT={{ mgmt_wireguard_port }}
      - PEERDNS=8.8.8.8
      - PEERS={{ mgmt_wireguard_clients }}
      - SERVERURL={{ mgmt_wireguard_public_ip }}
      - INTERNAL_SUBNET=10.13.13.0
    volumes:
      - wireguard-data:/config
      - /lib/modules:/lib/modules
    ports:
      - {{ mgmt_wireguard_port }}:{{ mgmt_wireguard_port }}/udp
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    deploy:
      placement:
        constraints:
          - "node.labels.mgmt==true"

volumes:
  wireguard-data:

networks:
  wireguard-net:
    driver: bridge
    attachable: true
    driver_opts:
      com.docker.network.driver.mtu: 1450
