
# Server
server {
    # Server-name will be domain name
    server_name {{ nginx_vhost.host }};

    # ACME-challenge
    location ^~ /.well-known/acme-challenge/ {
        root /var/www/_letsencrypt;
    }

    # Location configs for this host
    {{ nginx_vhost.locations | indent(width=4) }}

    listen 443 ssl http2; # managed by Certbot
    ssl_certificate /etc/nginx/dummy_certs/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/nginx/dummy_certs/privkey.pem; # managed by Certbot
    include /etc/nginx/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/nginx/dummy_certs/ssl-dhparams.pem; # managed by Certbot

    # Shared sec settings
    include shared.conf/security.conf;
    # Shared server settings
    include shared.conf/general.conf;
}


# HTTP redirect
server {
    listen      80;
    listen      [::]:80;
    server_name {{ nginx_vhost.host }};

    # ACME-challenge
    location ^~ /.well-known/acme-challenge/ {
        root /var/www/_letsencrypt;
    }

    {{ mgmt_nginx_default_redirect | indent(width=4) if(mgmt_proxy_use_tls) }}
    {{ nginx_vhost.locations | indent(width=4) if(not mgmt_proxy_use_tls) }}

    # Shared server settings
    include shared.conf/general.conf;
}
