#!/bin/bash

# Exit handling
_term() {
  echo "Caught SIGTERM signal!"
  kill -TERM "$CRON_PID"
  kill -TERM "$MAIN_PID"
}

# Trab exit signal
trap _term SIGTERM

# Start cron
echo "Starting cron"
cron
CRON_PID=$!

# Start nginx
sh /docker-entrypoint.sh nginx -g "daemon off;" &
MAIN_PID=$!

MAIL={{ conf.certbot_mail | default("support@***REMOVED***") }}
DOMAINS=({% for site in sites %}{% if not site.tls %}{{ site.host }} {% endif %}{% endfor %})

if [ INGRESS_DEBUG = "yes" ]; then
EXTRA_ARGS = "${EXTRA_ARGS} --test-cert"

# Start init certbot if set
if [ $RUN_CERTBOT = "yes" ]; then
    for DOMAIN in "${DOMAINS[@]}"; do
        echo "Generating cert for ${DOMAIN}"
        certbot --nginx -d $DOMAIN --agree-tos --non-interactive -m $MAIL $EXTRA_ARGS
    done
fi

# Wait for nginx to exit
wait $MAIN_PID
