---
k8s_version: 1.24.4
k8s_etc_hosts: []
# Exmaple
# k8s_etc_hosts:
#   - name: k8s-hetzner-test-cp
#     ip: 127.0.0.1

k8s_kublet_extra_args: ''
# Which cri to use. runc or crun
# k8s_cri: runc
k8s_cri: crun

k8s_crun_version: 1.6
k8s_containerd_version: latest
