# Main Minio Setup
---
- name: Check if Docker is installed
  ansible.builtin.command: docker --version
  register: docker_valid
  ignore_errors: true
  changed_when: false
  tags: [minio]

- name: Run docker install
  when: docker_valid.failed
  ansible.builtin.include_role:
    name: docker
  vars:
    docker_init_swarm: false
    docker_install_portainer: false
  tags: [minio]

- name: Run docker deploy
  ansible.builtin.include_role:
    name: docker-deploy
  vars:
    docker_deploy_use_swarm_mode: true
    docker_deploy_projects:
      - name: minio
        compose_files: [docker-compose-minio.yml]
    docker_deploy_src_config_files: '{{ minio_src_filres }}'
    docker_deploy_dst_config_files: '/srv/minio/'
  tags: [minio]



# mc alias set minio http://23.88.109.204:9000 test-user mySuperSecureAdminPW
# mc ToDo.md minio/test
