# Init docker swarm
---
- name: Init swarm master
  when: 'ansible_facts.hostname in docker_swarm_manager_and_advertise_addr '
  docker_swarm:
    advertise_addr: '{{ docker_swarm_manager_and_advertise_addr[ansible_facts.hostname] | default("eth0:2377") }}'
    state: present
  register: swarm_init_res
  tags: [docker, docker-swarm]

- name: Init swarm master
  when: 'inventory_hostname in docker_swarm_manager_and_advertise_addr'
  docker_swarm:
    advertise_addr: '{{ docker_swarm_manager_and_advertise_addr[inventory_hostname] | default("eth0:2377") }}'
    state: present
  register: swarm_init_res
  tags: [docker, docker-swarm]

- name: Join master node
  when: 'item.key == ansible_facts.hostname or item.key == inventory_hostname'
  docker_swarm:
    state: join
    join_token: '{{ hostvars[item.value.leader].swarm_init_res.swarm_facts.JoinTokens[item.value.role | default("Worker")] }}'
    remote_addrs: '{{ [item.value.ips] | flatten }}'
  loop: '{{ docker_swarm_worker_mapping | dict2items }}'
  tags: [docker, docker-swarm]

- name: Set Docker node labels
  when: 'inventory_hostname in docker_swarm_manager_and_advertise_addr'
  docker_node:
    hostname: '{{ item.key }}'
    labels: '{{ item.value }}'
    labels_state: replace
  loop: '{{ docker_swarm_node_labels | dict2items }}'
  tags: [docker, docker-swarm, docker-tags]
