# Install Docker
---
- name: Install needed packages
  ansible.builtin.apt:
    name:
      [
        curl,
        gnupg,
        cifs-utils,
        lsb-release,
        yamllint,
        python3-debian,
        ca-certificates,
        apt-transport-https,
      ]
    state: present
    update_cache: true
    install_recommends: true
  tags: [docker, docker-install]

- name: Add Docker repository
  ansible.builtin.deb822_repository:
    name: docker
    types: [deb]
    uris: "https://download.docker.com/linux/{{ ansible_facts.distribution | lower }}"
    signed_by: "https://download.docker.com/linux/{{ ansible_facts.distribution | lower }}/gpg"
    suites: ["{{ ansible_facts['distribution_release'] | lower }}"]
    components: [stable]
    state: present
    enabled: true
  tags: [docker, docker-install]

- name: Install docker
  ansible.builtin.apt:
    state: present
    install_recommends: false
    name:
      - "containerd.io"
      - "docker-{{ docker_edition }}"
      - "docker-{{ docker_edition }}-cli"
      - "docker-compose-plugin"
      - "docker-buildx-plugin"
      - "python3-setuptools"
      - "python3-jsondiff"
      - "python3-docker"
      - "python3-yaml"
      - "gnupg2"
      - "pass"
  tags: [docker, docker-install]

- name: gVisor user setup
  when: docker_install_gvisor
  ansible.builtin.include_tasks: install-gvisor.yml
  tags: [docker, docker-install]

- name: Test Docker
  community.docker.docker_host_info:
    verbose_output: true
  register: docker_facts
  tags: [docker, docker-install]

- name: Install Loki log driver
  when: docker_install_loki_log_plugin
  community.docker.docker_plugin:
    plugin_name: grafana/loki-docker-driver:latest
    state: present
    alias: loki
  tags: [docker, docker-install]

- name: Enable Loki log driver
  when: docker_install_loki_log_plugin
  community.docker.docker_plugin:
    plugin_name: loki
    state: enable
  tags: [docker, docker-install]

- name: Ensure /etc/docker/ directory exists
  ansible.builtin.file:
    path: /etc/docker
    state: directory
    mode: "0755"
  tags: [docker, docker-install, docker-deamon]

- name: Configure Docker daemon options
  ansible.builtin.copy:
    content: "{{ docker_daemon_options | to_nice_json }}"
    dest: /etc/docker/daemon.json
    mode: 0644
    validate: dockerd --validate --config-file=%s
  when: docker_daemon_options.keys() | length > 0
  notify: Restart Docker
  tags: [docker, docker-install, docker-deamon]

- name: Ensure Docker is started and enabled at boot
  ansible.builtin.service:
    name: docker
    state: started
    enabled: true
  tags: [docker, docker-install, docker-deamon]

- name: Ensure handlers are notified now
  ansible.builtin.meta: flush_handlers
  tags: [docker, docker-install, docker-deamon]
