version: '3.7'

services:
  traefik:
    image: traefik:{{ traefik_version | default("latest") }}
    command: --configFile=/srv/traefik/traefik-conf.yml
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "/srv/traefik:/srv/traefik"
    networks:
      - ingress_net

networks:
  ingress_net:
    external: true
