version: '3.7'

services:
  traefik:
    image: traefik:{{ traefik_version | default("latest") }}
    ports:
      - "80:80"
      - "443:443"
    networks:
      - {{ mgmt_docker_stack_name }}_ingress_net
    volumes:
      - "/srv/traefik/tls:/srv/traefik/tls"
