[Unit]
Description=Traefik service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/traefik --configFile=/srv/traefik/traefik-conf.yml
Restart=always

[Install]
WantedBy=multi-user.target
Alias=traefik.service