# Main Nginx Setup
---
- name: Install PHP
  ansible.builtin.import_tasks: install-php.yml
  tags: [php]

- name: Install php-nginx hosts
  ansible.builtin.import_tasks: install-php-nginx-hosts.yml
  tags: [php, php-nginx]
